.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  min-height: 38px;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 52px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    min-height: 59px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.main-header__body {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  height: 65px;
  box-sizing: border-box;
}
